@font-face {
  font-family: phonk;
  src: url(phonk.ttf.otf);
}
@media screen and (max-width:1150px) {
  .timeline{
    width: 80vw;
  }
  .timeline .checkpoint{
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
  
}
* {
  margin: 0;
  padding: 0;
}
.header {
  top: 50%;
  width: 100%;
  min-height: 100vh;
  background-image: url(umbra-03.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}
.links {
  flex: 1;
  text-align: center;
}
.links ul li {
  font-family: phonk;
  list-style-type: none;
  padding: 2% 4%;
  display: inline-block;
  position: relative;
}
.links ul li a {
  color: #b8b7b7;
  text-decoration: none;
  font-size: 13px;
}
.text {
  width: 90%;
  color: #b8b7b7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  color: #b8b7b7;
  font-family: phonk;
  font-size: 75px;
}
.abt {
  top: 50%;
  width: 100%;
  min-height: 100vh;
  background-image: url(umbra-06.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.abt h2 {
  color: #b8b7b7;
  font-family: phonk;
  font-size: 75px;
  text-align: center;
  padding-top: 5%;
}
.abt p {
  color: #b8b7b7;
  font-family: phonk;
  font-size: 25px;
  text-align: center;
  padding-top: 5%;
}
.abt img {
  width: 30%;
  align-items: center;
  padding-top: 5%;
  padding-left: 35%;
}
.PROJECTS {
  top: 50%;
  width: 100%;
  min-height: 100vh;
  background-image: url(umbra-03.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.PROJECTS h2 {
  color: #b8b7b7;
  font-family: phonk;
  font-size: 75px;
  text-align: center;
  padding-top: 5%;
}
.center-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.column {
  width: 30%;
  margin: 0 10px;
}
.column img {
  max-width: 100%;
  height: auto;
}
.EDUCATION{
  margin: 0;
  background-image: url(umbra-06.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.EDUCATION ::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;

}
.EDUCATION h1{
  text-align: center;
  padding-top: 5%;
}
.EDUCATION h5{
  padding-top: 5%;
  color: #b8b7b7;
  font-size: 25px;
}
.EDUCATION p{
  padding-top: 5%;
  color: #b8b7b7;
}
.timeline{
  margin: 5em auto;
  max-width: 34.15em;
}
.checkpoint{
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.checkpoint div{
  border: 2px solid #b8b7b7;
  border-radius: 1em;
  padding: 1.5em;
}
.checkpoint:nth-child(odd){
  border-left: 3px solid #b8b7b7;
  padding-left: 3em;
  transform: translate(17em);
}
.checkpoint:nth-child(even){
  border-right: 3px solid #b8b7b7;
  padding-right: 3em;
  transform: translate(-17em);
}
